/*
 * Colors
 */

$gorse: #FFDB4D;
$yellow_green: #D7F64D;
$lima: #89DB33;
$malachite: #04C65D;
$radiance: #007EFF;
$dodger_blue: #5B5AFF;
$violet: #AA2B8E;
$brick_red: #CC2E4F;
$scarlet: #FF3800;
$pumpkin: #FF831A;
